@font-face {
    font-family: 'Druk Wide Cyr';
    src: url('assets/fonts/Druk Wide Cyr Bold.otf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('assets/bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    text-align: center;
}

.banner-text {
    width: 100%;
    max-width: 557px;
    font-family: 'Druk Wide Cyr', Arial, sans-serif;
    font-weight: 500;
    font-size: 49.82px;
    line-height: 60.48px;
    color: #FFFFFF;
    text-align: center;
}

.banner {
    width: 100%;
    max-width: 629px;
    height: 66px;
    background-color: #E50914;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.logo-container {
    width: 100%;
    max-width: 397px;
    height: 117px;
    background-color: #000000;
    padding: 10px;
    border-radius: 0 0 140px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100%;
    max-width: 273px;
    height: auto;
    max-height: 33px;
    object-fit: contain;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.wheel-container {
    position: relative;
    width: 100%;
    max-width: 650px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wheel {
    width: 100%;
    height: auto;
    transition: transform 5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.wheel-overlay {
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 23%;
    max-width: 150px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.wheel-overlay img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wheel {
    width: 650px;
    height: 650px;
    max-width: 100%;
    max-height: 100%;
    transition: transform 5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 30;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    flex-direction: column;
}

.modal-content {
    width: 100%;
    max-width: 840px;
    height: 467px;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content p {
    color: #E50914;
    font-family: 'Druk Wide Cyr', Arial, sans-serif;
    font-weight: 500;
    font-size: 74px;
    line-height: 90px;
}

.win-content {
    width: 100%;
    max-width: 452px;
    height: 82px;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.win-content-win {
    font-family: 'Druk Wide Cyr', Arial, sans-serif;
    font-weight: 500;
    font-size: 39.38px;
    line-height: 90px;
}

.win-content2 {
    width: 100%;
    max-width: 840px;
    height: 127px;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.win-content-win2 {
    font-family: 'Druk Wide Cyr', Arial, sans-serif;
    font-weight: 500;
    font-size: 39.38px;
    line-height: 90px;
}

.btn button {
    width: 100%;
    max-width: 452px;
    height: 74px;
    border: none;
    border-radius: 5px;
    background-color: #E50914;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Druk Wide Cyr', Arial, sans-serif;
    font-weight: 500;
    font-size: 33px;
    line-height: 90px;
}

.modal.show {
    visibility: visible;
    opacity: 1;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.footer-images {
    display: flex;
}

.footer-image {
    height: auto;
    margin-right: 10px;
    padding-left: 20px;
}

.footer-social-container {
    width: 100%;
    max-width: 397px;
    height: 117px;
    background-color: #000000;
    border-radius: 140px 0 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-logo {
    width: 100%;
    max-width: 273px;
    height: auto;
    max-height: 33px;
    object-fit: contain;
}
@media (min-width: 1920px) {
    .container {
        max-width: 1800px;
        margin: 0 auto;
    }

    .banner {
        width: 800px;
        height: 80px;
    }

    .banner-text {
        font-size: 55px;
        line-height: 72px;
    }

    .logo-container {
        width: 500px;
        height: 150px;
    }

    .logo {
        max-width: 350px;
        max-height: 42px;
    }

    .wheel-container {
        max-width: 800px;
    }

    .wheel-overlay {
        max-width: 180px;
    }

    .modal-content {
        width: 1000px;
        height: 550px;
    }

    .modal-content p {
        font-size: 90px;
        line-height: 108px;
    }

    .win-content {
        max-width: 600px;
        height: 100px;
    }

    .win-content-win {
        font-size: 48px;
        line-height: 100px;
    }

    .win-content2 {
        max-width: 1000px;
        height: 150px;
    }

    .win-content-win2 {
        font-size: 48px;
        line-height: 100px;
    }

    .btn button {
        max-width: 600px;
        height: 90px;
        font-size: 40px;
        line-height: 90px;
    }


}
@media (max-width: 1200px) {
    .modal-content {
        width: 80vw;
        max-height: 70vh;
    }

    .btn button {
        font-size: 28px;
        line-height: 74px;
    }

    .modal-content p {
        font-size: 50px;
    }
    .win-content2 {
        font-size: 50px;
    }
    .win-content-win2 {
        font-size: 31px;
    }
}

@media (max-width: 992px) {
    .footer-social-container {
        height: 60px;
        max-width: 35%;
    }

    .modal-content p {
        font-size: 50px;
    }

}

@media (max-width: 768px) {
    .logo-container {
        max-width: 50%;
        height: 40px;
    }

    .logo {
        max-width: 50%;
        max-height: 25px;
    }

    .wheel-container {
        max-width: 90vw;
    }

    .wheel-overlay {
        width: 15%;
        max-width: 70px;
    }

    .footer-social-container {
        height: 50px;
        max-width: 50%;
    }

    .modal-content {
        max-height: 60vh;
        padding: 10px;
    }

    .win-content {
        font-size: 18px;
    }
    .win-content-win2{
        font-size: 15px;
    }
    .btn button {
        font-size: 24px;
        line-height: 60px;
    }

    .modal-content p {
        font-size: 40px;
    }
    .wheel-overlay img{
        position: absolute;
        bottom: 50px;
    }
    .banner-text {
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    .wheel-container {
        max-width: 100vw;
    }

    .wheel-overlay {
        width: 12%;
        max-width: 50px;
    }

    .footer-social-container {
        height: 50px;
    }

    .modal-content {
        width: 95vw;
        padding: 5px;
    }

    .modal-content p {
        font-size: 30px;
    }

    .win-content-win {
        width: 50%;
        font-size: 22px;
    }
    .win-content-win2{
        font-size: 13px;
    }

    .btn button {
        font-size: 24px;
        line-height: 60px;
    }
    .banner-text {
        font-size: 30px;
    }
    .wheel-overlay img{
        position: absolute;
        bottom: 75px;
    }
}

@media (max-width: 390px){
    .modal-content p {
        font-size: 30px;
    }

    .win-content-win {
        font-size: 15px;
    }
    .win-content-win2{
        font-size: 10px;
    }

    .btn button {
        font-size: 24px;
        line-height: 60px;
    }
    .banner {
        max-width: 100%;
    }
    .banner-text {
        font-size: 30px;
    }
    .wheel-overlay img{
        position: absolute;
        bottom: 74px;
    }
}